head {
  background-color: #ffffff;
  border: 58px;
  padding: 0;
  margin: 0;
}

a {
  color: #777777;
  word-wrap: break-word;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

p {
  color: #777777;
  word-wrap: break-word;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  display: inline-block;
}

.container {
  min-width: 100%;
}

.aboutme {
  text-align: center;
  display: inline-table;
  padding: 0;
  margin: 10px;
}

#aboutmepara {
  text-align: left;
  float: left;
  position: relative;
  width: 400px;
  height: 200px;
  margin-left: -100px;
}

.name {
  text-align: center;
  height: 75px;
  font-size: 28px;
  word-wrap: break-word;
  font-family: "Georgia", Times, "Times New Roman", serif;
  background-color: #4aaaa5;
  color: #ffffff;
}

.h2 {
  font-family: "Georgia", Times, "Times New Roman", serif;
  color: #4aaaa5;
  word-wrap: break-word;
}

.links {
  text-align: center;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  background-color: #ffffff;
  padding-bottom: 10px;
  margin-top: -10px;
}
.img {
  text-align: center;
  float: left;
  height: 50%;
  width: 50%;
}

.portimg {
  position: relative;
}

.projtable {
  display: inline-block;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6 {
  padding-top: 4px;
  padding-right: 36px;
  padding-bottom: -40px;
  padding-left: 48px;
  margin-bottom: 30px;
  margin-top: -4px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
  height: auto;
  width: auto;
  font-family: "Georgia", Times, "Times New Roman", serif;
  color: #ffffff;
  background-color: #4aaaa5;
}

.contactinfo {
  text-align: left;
  width: auto;
  display: inline-block;
  padding: 50px;
  margin: 30px;
}

#github {
  padding: 10px;
  margin: 10px;
  position: inherit;
  text-align: center;
  display: inline-block;
}

.content {
  padding-top: -100px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 50px;
  float: middle;
  clear: both;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-color: #ffffff;
  border-color: #dddddd;
  text-align: center;
  padding: 0;
}

.button {
  background-color: #4aaaa5;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  clear: both;
  display: list-item;
  float: unset;
  position: initial;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 10px;
  width: 100%;
}

.footer {
  border-top: 8px solid #4aaaa5;
  height: 50px;
  text-align: center;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-color: #666666;
}
