head{
  background-color: #ffffff;
  border: 58px;
  border-color: #cccccc;
}

a{
  color: #777777;
  word-wrap: break-word;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

p{
  color: #777777;
  word-wrap: break-word;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.name, .navbar-brand{
    text-align: center;
    height: 115px;
    font-size: 28px;
    word-wrap: break-word;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  background-color: #4aaaa5;
  color: #ffffff;
}

.h2{
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  color: #4aaaa5;
  word-wrap: break-word;
}

.links{
  text-align: center;
  padding-top: 20px;
  border-bottom: 45px solid #ffffff;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  background-color: #ffffff;

}
.img{
  float: middle;
}

.portimg{
  position: relative;
}

.project1 , .project2 , .project3 , .project4 , .project5 {
  position: absolute;
  padding-top: 4px;
  padding-right: 36px;
  padding-bottom: -40px;
  padding-left: 48px;
  margin-bottom: 30px;
  margin-top: -4px;
  text-align: center;
  font-size: 12px;
  height: 18px;
  width: 66px;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  color: #ffffff;
  background-color: #4aaaa5;
}

table{
  border: none;
  padding-top: -100px;
  padding-right: 30px;
  padding-bottom: -100px;
  padding-left: 30px;
  margin-bottom: 50px;
  margin-right: 100px;
}

.form{
  overflow: auto;
}

.type , .email, .message {
    border: 1px solid #777777;
}

.content {
    padding-top: -100px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 50px;
    float: middle;
    clear: both;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #ffffff;
    border-color: #dddddd;
  }

  .button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.footer {
    border-top: 8px solid #4aaaa5;
    height: 50px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #666666;
  }